.list_container{
    padding: 5%;
}

.list_item{
    display:grid;
    grid-template-columns: 45% 25% 20% 10%;
}    

.no_result{
    text-align: center;
}

.list_entry{
    margin: 1px;
    overflow: hidden;
}

.list_button{
    margin: 1px;
    border-radius:2px;
}